<div id="issue-display">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="#!/volume/{{issue.volumeId}}">{{issue.volumeName}}</a></li>
        <li class="breadcrumb-item active">{{issue.name}}</li>
    </ol>
    <div class="row">
        <div class="col-md-3">
            <a href="#!/reader/{{issue.id}}/0"><img class="comic" src="/images/thumbs/{{issue.cover}}"/></a>
        </div>
        <div class="col-md-9">
            <div class="row issue-title">
                <a href="#!/reader/{{issue.id}}/0">{{issue.volumeName}} #{{issue.issue_number}}</a>
            </div>
            <div class="row issue-name">
                <p>{{issue.name}}</p>
            </div>
            <div class="row">
                <p>
                    <span class="pull-left">{{issue.page_count}} pages</span>
                    <span class="pull-right">{{issue.cover_date}}</span>
                </p>
            </div>
            <hr/>
            <div class="row" ng-bind-html="issue.description"></div>
        </div>
    </div>
</div>