<div id="home-display">
    <div ng-repeat="volume in volumes" class="volume">
        <div class="curl-img-container">
            <a href="#!/volume/{{volume.id}}">
                <div class="curl"></div>
                <img class="volume-cover" ng-src="/images/thumbs/{{volume.cover}}"/>
            </a>
        </div>
        <a href="#!/volume/{{volume.id}}">
            <div class="volume-name" title="{{volume.name}}">{{volume.name}}</div>
        </a>
        <div ng-if="volume.active_issues == 1" class="issue-count">{{volume.start_year}} - {{volume.active_issues}} issue</div>
        <div ng-if="volume.active_issues != 1" class="issue-count">{{volume.start_year}} - {{volume.active_issues}} issues</div>
    </div>
</div>