#issue-display {
    width: 960px;
    margin: 10px auto 0;
}
#issue-display .comic {
    width: 225px;
    height: 339px;
}
#issue-display .issue-title {
    font-size: 25px;
}
#issue-display .issue-name {
    font-size: 16px;
}