#issue-display .row {
    margin: 0;
}
#issue-display .comic {
    width: 230px;
}
#issue-display .issue-title a {
    font-size: 25px;
    color: white;
}
#issue-display .issue-name p {
    font-size: 16px;
    color: white;
}
#issue-display .cover-date span {
    color: gray;
}
#issue-display .page-count span {
    color: gray;
}
#issue-display .description {
    color: white;
    width: 90%;
}