<app-main-menu [breadcrumbs]="breadcrumbs"></app-main-menu>

<mat-progress-spinner *ngIf="issue == null && volume == null" mode="indeterminate"></mat-progress-spinner>

<div class="issue-container" *ngIf="issue != null && volume != null">
  <div class="issue-left">
    <img *ngIf="cover.length" class="issue-cover" src="../../../assets/thumbs/{{cover}}" routerLink="/reader/{{issue.id}}"/>
  </div>
  <div class="issue-right">
    <div class="issue-header">
      <h1>{{volume.name}}</h1>
      <span class="fill-remaining-space"></span>
      <button mat-raised-button color="warn" routerLink="/reader/{{issue._id}}">
        Read Now
      </button>
      <button mat-raised-button title="Previous Issue" disabled="{{prevIssue._id == null}}" routerLink="/issues/{{prevIssue._id}}">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-raised-button title="Next Issue" disabled="{{nextIssue._id == null}}" routerLink="/issues/{{nextIssue._id}}">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>

    <p>{{'#' + issue.issue_number}}
      <span *ngIf="name.length">{{' - ' + name}}</span>
      <span *ngIf="coverDate.length"><br/>{{coverDate}}</span>
    </p>
    <p *ngIf="storyArcId.length && storyArcId.length">
      This issue is a part of: <span class="story-arc-link" routerLink="/story-arc/{{storyArcId}}">{{storyArcName}}</span>
    </p>
    <p>
      <span *ngIf="writer.length">{{'Written By: ' + writer}}</span>
      <span *ngIf="artist.length"><br/>{{'Illustrated By: ' + artist}}</span>
    </p>
    <p>{{pageCount + ' pages'}}</p>
    <app-description-text *ngIf="description.length" [text]="description"></app-description-text>
  </div>
</div>
