.issue-container {
  width: 85%;
  margin: 0 auto;
}
.issue-left {
  height: auto;
  width: 25%;
  display: inline-block;
  vertical-align: top;
}
.issue-right {
  display: inline-block;
  margin: 0 10% 0 5%;
  width: 60%;
  text-align: left;
}

.issue-cover {
  width: 100%;
}
.read-button {
  width: 100%;
}
