.issue-container {
  width: 85%;
  margin: 0 auto;
}
.issue-left {
  height: auto;
  width: 25%;
  display: inline-block;
  vertical-align: top;
}
.issue-right {
  display: inline-block;
  margin-left: 5%;
  width: 70%;
  text-align: left;
}
.issue-right h1 {
  margin-top: 0;
}

.issue-cover {
  width: 100%;
  cursor: pointer;
}
.issue-header {
  display: flex;
}
.issue-header button{
  margin-left: 5px;
  height: 35px;
}
