.issue-container {
  width: 85%;
  margin: 0 auto;
}
.issue-cover {
  height: auto;
  width: 25%;
  display: inline-block;
  vertical-align: top;
}
.issue-details {
  display: inline-block;
  margin: 0 10% 0 5%;
  width: 60%;
  text-align: left;
  font-family: sans-serif;
}
