<app-main-menu [breadcrumbs]="breadcrumbs"></app-main-menu>

<mat-progress-spinner *ngIf="issue == null || volume == null" mode="indeterminate"></mat-progress-spinner>

<div class="issue-container" *ngIf="issue != null && volume != null">
  <div class="issue-left" *ngIf="issue.metadata != null">
    <img class="issue-cover" *ngIf="issue.metadata.cover != null" src="../../../assets/thumbs/{{issue.metadata.cover}}" routerLink="/reader/{{issue._id}}"/>
  </div>
  <div class="issue-right">
    <div class="issue-header">
      <h1>{{volume.name}}</h1>
      <span class="fill-remaining-space"></span>
      <button mat-raised-button color="warn" routerLink="/reader/{{issue._id}}">
        Read Now
      </button>
      <button mat-raised-button title="Previous Issue" disabled="{{prevIssue._id == null}}" routerLink="/issues/{{prevIssue._id}}">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-raised-button title="Next Issue" disabled="{{nextIssue._id == null}}" routerLink="/issues/{{nextIssue._id}}">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>

    <p>{{'#' + issue.issue_number}}
      <span *ngIf="issue.metadata != null && issue.metadata.name.length">{{' - ' + issue.metadata.name}}</span>
      <span *ngIf="issue.metadata != null"><br/>{{issue.metadata.cover_date}}</span>
    </p>
    <p *ngIf="storyArcId.length && storyArcId.length">
      This issue is a part of: <span class="story-arc-link" routerLink="/story-arc/{{storyArcId}}">{{storyArcName}}</span>
    </p>
    <p>
      <span *ngIf="writer.length">{{'Written By: ' + writer}}</span>
      <span *ngIf="artist.length"><br/>{{'Illustrated By: ' + artist}}</span>
    </p>
    <p>{{pageCount + ' pages'}}</p>
    <app-description-text *ngIf="issue.metadata != null" [text]="issue.metadata.description"></app-description-text>
  </div>
</div>
