body {
    background-color: #53575a;
}
/* Breadcrumbs */
.breadcrumb {
    background-color: #53575a;
}
.breadcrumb .breadcrumb-item a {
    color: gray;
    padding: 10px 0;
    font-weight: bold;
}
.breadcrumb .breadcrumb-item:hover :not(active) {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.breadcrumb .breadcrumb-item.home {
    font-size: 25px;
    padding: 0 5px 0 0;
    color: gray;
    line-height: 1em;
}

/* Page Curl */
.curl-img-container {
    position: relative;
}
.curl {
    width:0px;
    height:0px;
    position: absolute;
    top:307px;
    left:204px;
    background :
            linear-gradient(
                    -45deg,
                    #53575a,
                    #53575a 45%,
                    #ddd 50%,
                    #aaa 50%,
                    #bbb 56%,
                    #ccc 62%,
                    #f3f3f3 100%
            );
    transition: all .3s ease;
}
.curl:before,
.curl:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 12.5%;
    bottom: 5.8%;
    width: 70%;
    max-width: 300px;
    max-height: 100px;
    height: 55%;
    box-shadow: 0 12px 15px rgba(0, 0, 0, .3);
    transform: skew(10deg) rotate(174deg);
}
.curl:after {
    left: auto;
    right: 5.8%;
    bottom: auto;
    top: 14.16%;
    transform: skew(15deg) rotate(96deg);
}

.curl-img-container:hover .curl{
    width: 40px;
    height: 40px;
    top: 267px;
    left: 164px;
}
.curl-img-container:hover:before .curl,
.curl-img-container:hover:after .curl {
    box-shadow: 0 24px 30px rgba(0, 0, 0, .3);
}