<app-main-menu [breadcrumbs]="breadcrumbs"></app-main-menu>

<mat-progress-spinner *ngIf="volume == null" mode="indeterminate"></mat-progress-spinner>

<div class="volume-header" *ngIf="volume != null">
  <img class="volume-cover" *ngIf="cover.length" src="../../../assets/thumbs/{{cover}}"/>
  <img class="volume-cover blank-cover" *ngIf="!cover.length"/>
  <div class="volume-details">
    <h1 class="volume-name">{{name}}</h1>
    <div class="volume-year">{{start_year}}</div>
    <div class="volume-publisher">{{publisher}}</div>
    <app-description-text *ngIf="description.length" [text]="description"></app-description-text>
  </div>
</div>

<p *ngIf="volume != null" class="issue-header">Issues</p>

<div class="issue-card-container" (window:scroll)="onScroll()">
  <app-issue-card *ngFor="let issue of issues"
                  [_id]="issue._id"
                  [issue_number]="issue.issue_number"
                  [name]="issue.metadata.name || issue.volume.name"
                  [cover]="(issue.metadata.volume.id + '/' + issue.metadata.cover) || ''">
  </app-issue-card>
  <mat-progress-spinner *ngIf="requesting" mode="indeterminate"></mat-progress-spinner>
</div>
