<app-main-menu [breadcrumbs]="breadcrumbs"></app-main-menu>

<mat-progress-spinner *ngIf="volume == null" mode="indeterminate"></mat-progress-spinner>

<div class="volume-header" *ngIf="volume != null">
  <img class="volume-cover" src="../../../assets/thumbs/{{volume.metadata.id}}/{{volume.metadata.cover}}"/>
  <div class="volume-details">
    <h1 class="volume-name">{{volume.name}}</h1>
    <div class="volume-year">{{volume.start_year}}</div>
    <div class="volume-publisher">{{volume.metadata.publisher.name}}</div>
    <app-description-text [text]="volume.metadata.description"></app-description-text>
  </div>
</div>

<p *ngIf="volume != null" class="issue-count">{{volume.count_of_issues}} Issues</p>

<div class="issue-card-container" (window:scroll)="onScroll()">
  <app-issue-card *ngFor="let issue of issues" [issue]="issue"></app-issue-card>
  <mat-progress-spinner *ngIf="requesting" mode="indeterminate"></mat-progress-spinner>
</div>
