<app-main-menu [breadcrumbs]="breadcrumbs"></app-main-menu>

<mat-progress-spinner *ngIf="volume == null" mode="indeterminate"></mat-progress-spinner>

<div class="volume-header" *ngIf="volume != null">
  <img class="volume-cover" *ngIf="volume.metadata != null" src="../../../assets/thumbs/{{volume.metadata.cover}}"/>
  <div class="volume-details">
    <h1 class="volume-name">{{volume.name}}</h1>
    <div class="volume-year">{{volume.start_year}}</div>
    <div class="volume-publisher" *ngIf="volume.metadata != null && volume.metadata.publisher != null">{{volume.metadata.publisher.name}}</div>
    <app-description-text *ngIf="volume.metadata != null" [text]="volume.metadata.description"></app-description-text>
  </div>
</div>

<p *ngIf="volume != null" class="issue-header">Issues</p>

<div class="issue-card-container" (window:scroll)="onScroll()">
  <app-issue-card *ngFor="let issue of issues"
                  [_id]="issue._id"
                  [issue_number]="issue.issue_number"
                  [name]="issue.metadata != null ? issue.metadata.name : ''"
                  [cover]="issue.metadata != null ? issue.metadata.cover : null">
  </app-issue-card>
  <mat-progress-spinner *ngIf="requesting" mode="indeterminate"></mat-progress-spinner>
</div>
