<mat-toolbar>
  <div *ngFor="let item of breadcrumbs; last as isLast">
    <span mat-button *ngIf="item.name && item.link" routerLink="{{item.link}}" class="breadcrumb active">{{item.name}}</span>
    <mat-icon *ngIf="item.icon && item.link" routerLink="{{item.link}}" class="breadcrumb active">{{item.icon}}</mat-icon>

    <span mat-button *ngIf="item.name && !item.link" class="breadcrumb">{{item.name}}</span>
    <mat-icon *ngIf="item.icon && !item.link" class="breadcrumb">{{item.icon}}</mat-icon>

    <!--<span *ngIf="!isLast" class="breadcrumb breadcrumb-divider">/</span>-->
  </div>
</mat-toolbar>
