<div id="reader-breadcrumb-container" class="row">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="#!/volume/{{currentIssue.volumeId}}">{{currentIssue.volumeName}}</a></li>
        <li class="breadcrumb-item"><a href="#!/issue/{{currentIssue.issueId}}">{{currentIssue.issueName}}</a></li>
        <li class="breadcrumb-item active">Page {{currentIssue.currentPageNo + 1}} of {{currentIssue.pageCount}}</li>
    </ol>
</div>
<div id="page-container" class="row">
    <img ng-src="data:image/jpg;base64,{{currentIssue.currentPageImage}}"/>
    <div class="left-zone" ng-click="touchLeft()"></div>
    <div class="right-zone" ng-click="touchRight()"></div>
</div>