<div id="reader-tools">
    <ol class="breadcrumb">
        <li class="breadcrumb-item home"><a href="/"><span class="glyphicon glyphicon-home"/></a></li>
        <li class="breadcrumb-item"><a href="#!/volume/{{currentIssue.volumeId}}">{{currentIssue.volumeName}}</a></li>
        <li class="breadcrumb-item"><a href="#!/issue/{{currentIssue.issueId}}">{{currentIssue.issueName}}</a></li>
        <li class="breadcrumb-item active">Page {{currentIssue.currentPageNo + 1}} of {{currentIssue.pageCount}}</li>
        <li class="breadcrumb-item active">
            <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-secondary" ng-click="fitToPage()"><span class="glyphicon glyphicon-fullscreen"/></button>
                <button type="button" class="btn btn-secondary" ng-click="zoomOut()"><span class="glyphicon glyphicon-minus"/></button>
                <button type="button" class="btn btn-secondary" ng-click="zoomIn()"><span class="glyphicon glyphicon-plus"/></button>
            </div>
            <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-secondary" ng-click="touchLeft()"><span class="glyphicon glyphicon-arrow-left"/></button>
                <button type="button" class="btn btn-secondary" ng-click="touchRight()"><span class="glyphicon glyphicon-arrow-right"/></button>
            </div>
        </li>
    </ol>
</div>
<div id="page-container" class="row">
    <img ng-src="data:image/jpg;base64,{{currentIssue.currentPageImage}}"/>
    <div class="left-zone" ng-click="touchLeft()"></div>
    <div class="right-zone" ng-click="touchRight()"></div>
</div>