#page-container {
    position: relative;
    width: 98%;
    height: 90%;
    margin: 0 16px;
}
#page-container img {
    display: block;
    margin: 0 auto 5px;
    height: 100%;
    background-image: url('../../images/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
}
#page-container .left-zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}
#page-container .right-zone {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
}